<div class="container">
  <div class="row">
    <div class="col-md-12" style="margin:10%; align-items: center;">
      <div class="container">
        <div class="row">
          <div class="cols-md-12">
            <label style="margin:10px;" >Enter first three letters of country name: </label>
             <input type="text" placeholder="Enter details"><br>
          </div>
        </div>
        
      </div>
      
      <div class="btn-group">
        <button type="button" class="btn btn-info  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Country name
        </button>
        <div class="dropdown-menu">
          <ul class="dropdown-menu" >
          <li><a class="dropdown-item" href="#">IND</a>/li>
          <li><a class="dropdown-item" href="#">USA</a>/li>
          <li><a class="dropdown-item" href="#">AFG</a>/li>
        </ul>
        </div>
      </div>
    </div>
  </div>
</div>